<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834688894794-5vnqnr90nuq68814fiuc37dmla69l82k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834688894794-5vnqnr90nuq68814fiuc37dmla69l82k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>834688894794-hiijksadlv9924in3g31lm7qtum6a55g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDXT7IUl_RuYIWHHWrQFPqDEWl-7gvl68</string>
	<key>GCM_SENDER_ID</key>
	<string>834688894794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oshidlist.oshidListV1</string>
	<key>PROJECT_ID</key>
	<string>oshid-list-f1313</string>
	<key>STORAGE_BUCKET</key>
	<string>oshid-list-f1313.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834688894794:ios:404fb2f7d99be755</string>
	<key>DATABASE_URL</key>
	<string>https://oshid-list-f1313.firebaseio.com</string>
</dict>
</plist>